body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #093453;
    color: white;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    color: #009ED1;
}
section {
    padding: 20px;
}
footer {
    background-color: #727477;
    color: white;
    padding: 10px;
}
